.widgetUI-base {
  background-color: var(--theme-widget-color);

  margin-bottom: 16px;
  width: 100%;

  padding: 8px;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--theme-widget-line-color);

  user-select: none;

  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
}

.widgetUI-base::after {
  content: "";
  clear: both;
  display: table;
}

.widgetUI-base h4 {
  margin: 0;
}

.widgetUI-row {
  width: 100%;
  display: block;
}

.widgetUI-row.top {
  width: 100%;
  display: block;
  margin-bottom: 32px;
}

.widgetUI-row .title {
  font-size: 10pt;
  float: left;
}

.widgetUI-row .title.large {
  font-weight: bold;
  font-size: 14pt;
}

.widgetUI-row button {
  font-size: 12pt;
  font-weight: bold;
  float: right;
  margin-left: 4px;
  margin-right: 4px;
}

.widgetUI-row input.inputnumber {
  font-size: 8pt;
  float: right;
  width: 20px;
  border-radius: 2px;
  margin-left: 4px;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  background: solid;
  background-color: rgba(10,10,30, 0.1);
  opacity: .8;
  border-style: none;
  color: var(--theme-text-color);
  text-align: right;
  box-sizing: content-box;
}
.knob:hover input.inputnumber {
  opacity: 1;
}
input.inputnumber[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input.inputnumber:focus {outline:0;}

.widgetUI-row input.checkbox {
  float: right;
  width: 12px;
  height: 12px;
  transform: translate(0, -1px);
}

.widgetUI-content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.knob {
  margin-bottom: 12px;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.knob input.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: height .2s;
  border-radius: 2px;
  margin-bottom: 4px;
}

.knob:hover input.slider {
  opacity: 1;
  height: 4px;
}

.knob input.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  background: var(--theme-widget-color); /* Green background */
  border-color: #fff;
  outline: 3px solid var(--theme-widget-color);
  border-width: 2px;
  border-style: solid;
}

.widgetUI-curves-tabs {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--theme-area-color-dark);
  min-height: 12px;
  margin-top: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.widgetUI-curves-tabs div {
  width: 100%;
  text-align: center;
  padding: 4px 8px;
}

.widgetUI-curves-tabs div.active {
  background-color: var(--theme-area-color);
}

.widgetUI-curves-canvas-container {
  width: 100%;
  background-color: var(--theme-area-color);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.widgetUI-curves-canvas {
  width: 100%;

  position: relative;
  display: block;

  margin: 0;
  padding: 0;

  top: 0;
  left: 0;
}

.widgetUI-curves-control-point {
  position: absolute;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: rgb(125, 130, 143);
  border-color: rgb(95, 104, 113);
  border-width: 4px;
  border-style: solid;

  box-sizing: content-box;

  transform: translate(-50%, -50%);

  touch-action: none;
  user-select: none;

  opacity: .8;
}

.widgetUI-curves-control-point:active {
  background-color: rgb(146, 151, 166);
  border-color: rgb(106, 116, 126);
}
.widgetUI-curves-control-point:hover {
  cursor: pointer;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05);
}

.widgetUI-curves-chin {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--theme-area-color-dark);
  min-height: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row-reverse;
  padding: 4px 8px;
}
