* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
}

.preview {
  position: fixed;

  height: 100vh;

  top: 0;
  left: 0;
}

.toolbar {
  width: 100%;
  height: 48px;
  background-color: var(--theme-options-color);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
  -webkit-user-select: none;
  -webkit-app-region: drag;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar section.left {
  flex-grow: 0.5;
  order: 1;
  align-items: center;
  justify-content: flex-start;
}

.toolbar section.left span.text {
  font-weight: bold;
  margin-left: 20px;
}

.toolbar section.mid {
  flex-grow: 3;
  order: 2;
  padding: 2px;
}
.toolbar section.right {
  flex-grow: 1;
  order: 3;
  padding: 2px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 12px;
}

.toolbar button {
  margin-left: 4px;
}

.preview canvas {
  position: absolute;
  top: 48px;
}

.preview .content {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  position: fixed;

  height: 100vh;

  top: 0;
  right: 0;

  background-color: var(--theme-options-color);

  padding: 12px;

  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);

  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 0px;
  background-color: rgba(112, 124, 139, 0.4);
  box-shadow: inner 0 0 4px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  background-color: rgba(208, 213, 219, 1);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.line {
  border-color: var(--theme-line-color);
  border-style: solid;
  border-width: 0;
}

.line.left {
  border-left-width: 1px;
}
.line.right {
  border-right-width: 1px;
}
.line.top {
  border-top-width: 1px;
}
.line.bottom {
  border-bottom-width: 1px;
}
.line.lightline {
  border-color: var(--theme-line-light-color);
}

button {
  background-color: var(--theme-button-color);
  color: var(--theme-text-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
}
button:focus {outline:0;}
button:active { box-shadow: inset 0 0 100px var(--theme-button-active-color);}

button.large {
  font-size: 18pt;
  font-weight: bold;
  padding: 12px;
}

button.mid {
  font-size: 12pt;
  font-weight: bold;
  padding: 4px;
}

.hidden {
  display: none !important;
}

.buttonimg {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonimg img {
  padding-left: 8px;
  height: 18px;
  margin: 0;
  display: block;
}

.osx_buttons {
  display: flex;
  width: 70px;
  height: 48px;
  flex-direction: row;
  padding-top: 8px;
  margin-left: 4px;
  /* align-items: center; */
  justify-content: space-evenly;
}

.osx_buttons .button {
  text-decoration: none;
  visibility: hidden;
  line-height: 0px;
  position: relative;
}
.osx_buttons:hover .button {
  visibility: visible;
}

.osx_buttons * {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.osx_buttons .close {
  background-color: #fc615d;
  font-size: 12px;
  border: 1px solid #e33e41;
  display: inline-block;
  color: #4e0002;
}
.osx_buttons .close .button {
  bottom: 4px;
  left: 1.5px;
}

.osx_buttons .min {
  background-color: #fdbc40;
  border: 1px solid #e09e3e;
  color: #5a2607;
}
.osx_buttons .min .button {
  bottom: 5px;
  left: 1.25px;
}

.osx_buttons .max {
  background-color: #34c749;
  border: 1px solid #14ae46;
  color: #003107;
}
.osx_buttons .max .button {
  bottom: 5px;
  left: 0px;
}

.background-success {
  background-color: var(--theme-color-success);
}

.background-warning {
  background-color: var(--theme-color-warning);
}

.background-danger {
  background-color: var(--theme-color-danger);
}

button.background-success {
  color: var(--theme-background-button-color);
}

button.background-warning {
  color: var(--theme-background-button-color);
}

button.background-danger {
  color: var(--theme-background-button-color);
}


.text-success {
  color: var(--theme-color-success);
}

.text-warning {
  color: var(--theme-color-warning);
}

.text-danger {
  color: var(--theme-color-danger);
}
