* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
  user-select: none;
}

.maincontent {
}

.preview {
  position: absolute;

  height: 100vh;

  top: 0;
  left: 0;
}

.toolbar {
  width: 100%;
  height: 48px;
  background-color: var(--theme-options-color);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);

  min-width: 900px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar.toolbartop {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.toolbar.toolbarbottom{
  position: absolute;
  bottom: 0;
  height: 20px;
}

.toolbar section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar section.left {
  flex-grow: 0.5;
  order: 1;
  align-items: center;
  justify-content: flex-start;
}

.toolbar section.left span.text {
  font-weight: bold;
  margin-left: 20px;
}

.toolbar section.mid {
  flex-grow: 3;
  order: 2;
  padding: 2px;
}
.toolbar section.right {
  flex-grow: 1;
  order: 3;
  padding: 2px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 12px;
}

.toolbar button {
  margin-left: 4px;
}

.preview canvas {
  position: absolute;
  top: 48px;
}

.preview .content {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  position: fixed;

  height: 100vh;

  top: 0;
  right: 0;

  background-color: var(--theme-options-color);

  padding: 12px;

  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);

  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 0px;
  background-color: rgba(112, 124, 139, 0.4);
  box-shadow: inner 0 0 4px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  background-color: rgba(208, 213, 219, 1);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.line {
  border-color: var(--theme-line-color);
  border-style: solid;
  border-width: 0;
}

.line.left {
  border-left-width: 1px;
}
.line.right {
  border-right-width: 1px;
}
.line.top {
  border-top-width: 1px;
}
.line.bottom {
  border-bottom-width: 1px;
}
.line.lightline {
  border-color: var(--theme-line-light-color);
}

button {
  background-color: var(--theme-button-color);
  color: var(--theme-text-color);
  text-decoration: none;
  border-radius: 2px;
  border: none;
  padding: 2px 4px;
  line-height: 1.2em;
  font-size: 9pt;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
}
button:focus {outline:0;}
button:active { background-color: var(--theme-button-active-color);}

button.large {
  border-radius: 3px;
  font-size: 18pt;
  font-weight: bold;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
  margin: 4px;
}

button.mid {
  font-size: 12pt;
  font-weight: bold;
  padding: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.hidden {
  display: none !important;
}

.buttonimg {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonimg img {
  padding-left: 8px;
  height: 18px;
  margin: 0;
  display: block;
}

.osx_buttons {
  display: flex;
  width: 70px;
  height: 48px;
  flex-direction: row;
  padding-top: 12px;
  margin-left: 8px;
  margin-right: 8px;
  justify-content: space-evenly;
}

.osx_buttons .button {
  text-decoration: none;
  visibility: hidden;
  line-height: 0px;
  position: relative;
}
.osx_buttons:hover .button {
  visibility: visible;
}

.osx_buttons * {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.osx_buttons .close {
  background-color: #fc615d;
  font-size: 12px;
  border: 1px solid #e33e41;
  display: inline-block;
  color: #4e0002;
}
.osx_buttons .close .button {
  bottom: 4px;
  left: 1.5px;
}

.osx_buttons .min {
  background-color: #fdbc40;
  border: 1px solid #e09e3e;
  color: #5a2607;
}
.osx_buttons .min .button {
  bottom: 5px;
  left: 1.25px;
}

.osx_buttons .max {
  background-color: #34c749;
  border: 1px solid #14ae46;
  color: #003107;
}
.osx_buttons .max .button {
  bottom: 5px;
  left: 0px;
}

.background-success {
  background-color: var(--theme-color-success);
}

.background-warning {
  background-color: var(--theme-color-warning);
}

.background-danger {
  background-color: var(--theme-color-danger);
}

button.background-success {
  color: var(--theme-background-button-color);
}

button.background-warning {
  color: var(--theme-background-button-color);
}

button.background-danger {
  color: var(--theme-background-button-color);
}

.text-success {
  color: var(--theme-color-success);
}

.text-warning {
  color: var(--theme-color-warning);
}

.text-danger {
  color: var(--theme-color-danger);
}

.context {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 24px;
  padding-left: 32px;

  font-size: 10pt;
}

.context h4 {
  margin: 0;
  font-weight: normal;
  font-size: 12pt;
}

.context div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.context div.ftop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 12px;
}

.context div.vcenter {
  display: flex;
  justify-content: center;
}

.context div.divider {
  display: block;
  width: 0;
  margin: 0 24px;
  padding: 0% 0;
  border-width: 3px;
  border-right-style: solid;
  border-color: rgb(28, 45, 57);
  border-radius: 1px;
  height: 80%;
}

.context button.blockb {
  margin: 0 8px;
}
.context button.inlineb {
  margin: 0;
}
.context button.spacetop {
  margin-top: 8px;
}

.context .slider {
  -webkit-appearance: none;
  background-color: rgb(54, 130, 221);
  margin-top: 4px;
  margin-left: 8px;
  width: 240px;
  height: 4px;
  border-radius: 2px;
  border-style: none;
  box-shadow: none;
  outline: none;
}
.context .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255,255,255);
}
.context .num {
  -webkit-appearance: none;
  background-color: var(--theme-background-color);
  user-select: none;
  outline: none;
  border-style: none;
  color: var(--theme-text-color);
  padding: 2px 4px;
  border-radius: 2px;
  width: 48px;
  margin-left: 12px;
}

.rowcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context .slider {
}

.block {
  display: block;
}
