* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 28, 29);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: 0 0px 12px rgba(0,0,0, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
}

a.blue {
  color: rgb(50, 90, 150);
}

a.linkbutton {
  padding: 8px 16px;
  margin: 12px;
  background-color: rgb(45, 49, 64);
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 14pt;
  border-radius: 8px;
}


header * {
  width: 100%;
  text-align: center;
  z-index: 10;
}

header span.title {
  flex-grow: 2;
  font-size: 18pt;
  font-weight: bold;
  text-align: left;
  z-index: 10;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  min-height: 60vh;
}

section.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

 h1 {
  font-size: 56pt;
  margin: 0;
  padding: 0 24px;
  text-align: center;
}

h2.big {
  font-size: 56pt;
  padding: 0 24px;
}

h2 {
  font-size: 28pt;
  padding: 0 24px;
  max-width: 80vw;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20pt;
  margin: 0;
}

section.hero .buttonrow {
  padding: 12px;
  margin: 12px;
}

section.hero img {
  margin-top: 10vh;
  width: 95%;
}

section.full {
  width: 100vw;
  min-height: 100vh;
}

table.downloads {
  margin-top: 8vh;
  padding-top: 12px;
  min-width: 80%;
  max-width: 96%;
  border-collapse: separate;
  border-spacing: 0px 24px;
}

table.downloads th {
  text-align: left;
}

table.downloads td {
  border-color: rgb(71, 71, 71);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

div.col2  {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 56px;
}

div.col2 div.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.col2 div.col div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.col2 div.col div span {
  padding-top: 56px;
}

div.col2 div.col div img {
  max-width: 40%;
  margin: 24px;
  object-fit: contain;
  object-position: top;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0 8px 12px rgba(0, 0, 0, 0.1)) drop-shadow(0 20px 24px rgba(0, 0, 0, 0.2)) drop-shadow(0 40px 32px rgba(0, 0, 0, 0.1));
}

.readme h3 {
  font-size: 28pt;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  section h1 {
    font-size: 38pt;
  }
  section h2.big {
    font-size: 38pt;
  }
  section h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 16px;
  }
  div.col2 div.col {
    width: 100%;
    font-size: 10px;
  }
  div.col2  {
    width: 90%;
  }
}

@media only screen and (max-width: 620px) {

  header span.title {
    flex-grow: 2;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
  }

  section {
    padding-top: 40px;
  }

  section.hero {
    padding-top: 20vh;
  }

  section.hero img {
    margin-top: 20vh;
  }

  section h1 {
    font-size: 38pt;
  }
  section h2.big {
    font-size: 38pt;
  }
  section h2 {
    font-size: 18pt;
  }

  a.linkbutton {
    padding: 8px 16px;
    margin: 12px;
    font-size: 10pt;
    border-radius: 8px;
  }

  div.col2  {
    width: 90%;
    flex-direction: column;
  }

  h3 {
    font-size: 16px;
  }

  div.col2 div.col {
    width: 100%;
    font-size: 14px;
  }

  div.col2 div.col div img {
    margin: 12px;
    margin-right: 24px;
    width: 200px;
  }

  body {

  }

}

@media only screen and (max-width: 340px) {
    a.linkbutton {
      padding: 8px 12px;
      margin: 10px;
      font-size: 9pt;
      border-radius: 8px;
    }
}
